* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
}
.dark-mode body {
  background-color: var(--dark-bg_body);
}
.dark-mode header {
  background-color: var(--dark-bg_default);
}

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  /* dark mode colors */
  --dark-brand-primary: #0768ac;
  --dark-brand-secondary: #03c180;
  --dark-bg_default: #1a1a1a;
  --dark-bg_body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #ededed;
}

.header-box {
  background-color: var(--bg_default);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 55px 0px 55px;
}
.dark-mode .header-box {
  background-color: var(--dark-bg_default);
}

.btns {
  display: flex;
  align-items: center;
  gap: 4px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_default);
  border-radius: 5px;
  border: 1px solid var(--lines-color);
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  gap: 5px;
  height: 30px;
  padding: 8px;
}
.button i {
  padding-top: 5px;
}

.dark-mode .button {
  background-color: var(--dark-bg_default);
  border: 1px solid var(--dark-lines-color);
  color: var(--bg_default);
}

.title {
  color: var(--brand-primary);
  font-size: 1.5rem;
  font-weight: 700;
}
.dark-mode .title {
  color: var(--dark-brand-primary);
}

.welcome-message-container h2 {
  color: var(--brand-secondary);
  text-align: center;
  font-weight: 700;
  margin: 0;
  font-size: 20px;
}
.dark-mode .welcome-message-container h2 {
  color: var(--dark-brand-secondary);
}
.welcome-message-container p {
  text-align: center;
  font-weight: 400;
  margin: 0;
  font-size: 15px;
}
.welcome-message-container {
  position: relative;
  width: 100%;
  background-color: var(--bg_default);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 0;
  height: 115px;
}
.welcome-background-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--brand-secondary);
  z-index: 1;
  clip-path: polygon(100% 0, 8% 0%, 100% 60%);
}
.welcome-background-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  z-index: 2;
  clip-path: polygon(0 60%, 90% 0, 0 0);
}

.dark-mode .welcome-message-container {
  background-color: var(--dark-bg_default);
  color: var(--dark-body-text);
}
.welcome-message-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  padding-top: 50px;
}
.content-container {
  background-color: var(--bg_body);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.dark-mode .content-container {
  background-color: var(--dark-bg_body);
}
.details-background-container {
  width: 100vw;
  height: 280px;
  background-color: var(--body-text);
}

.details-box {
  padding: 0px 44% 0px 19%;
  height: 100%;
}
.details-container {
  align-items: flex-start;
  padding: 30px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.topic-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h3 {
  margin: 0px;
  color: var(--dark-body-text);
  font-size: 24px;
}
h4 {
  margin: 0px;
  color: var(--brand-secondary);
  font-weight: 400;
}

.rating-box {
  display: flex;
  font-size: 16px;
}
.star-icon {
  color: #e5a906;
  margin: 0px;
}

.info-box {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  padding-top: 15px;
  width: 100%;
  height: 100%;
}
.info-box p {
  color: var(--bg_default);
  font-size: 16px;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.related-topics-container {
  width: 100vw;
  height: 100%;
  padding: 30px 44% 30px 19%;
}
.sub-topics-container {
  width: 100%;
  background-color: var(--bg_default);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.dark-mode .sub-topics-container {
  background-color: var(--dark-bg_default);
}

.sub-topic {
  display: flex;
  align-items: center;
  text-align: flex-start;
  gap: 14px;
  border: 0.5px solid var(--lines-color);
  width: 100%;
  font-weight: 400;
  padding: 0% 6%;
  height: 55px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sub-topic p {
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
}

.dark-mode .sub-topic {
  border: 0.5px solid var(--dark-lines-color);
  color: var(--dark-body-text);
}

.sub-icon {
  color: var(--brand-secondary);
  font-size: 24px;
  display: flex;
  align-items: center;
}
.first-sub {
  height: 70px;
  border-radius: 5px 5px 0px 0px;
}
.first-sub p {
  font-weight: 700;
  font-size: 25px;
  margin: 0px;
}
.dark-mode .first-sub p {
  color: var(--dark-body-text);
}

.last-sub {
  border-radius: 0px 0px 5px 5px;
}

.card-container {
  width: 320px;
  height: 420px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  background-color: var(--bg_default);
  align-items: flex-start;
  position: absolute;
  top: 3%;
  left: 58%;
  object-fit: cover;
}
.img-banner {
  width: 100%;
  height: 200px;
}
.img-banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-info {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 15px 15px;
  width: 100%;
  height: 100%;
}
.card-info h6 {
  text-align: center;
  margin: 0px;
  padding: 15px 0px 0px 0px;
  font-size: 14px;
  color: gray;
  align-self: center;
  font-weight: 200;
}
.feedback-box {
  border: 1px solid var(--lines-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 15px 15px 15px 15px;
  height: 100%;
}

.feedback-box p {
  margin: 0px;
  padding-bottom: 15px;
  font-weight: 400;
}

.author-box {
  margin-bottom: 10px;
}
.author-box p {
  margin: 0px;
}
.add-to-fav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 55px;
  background-color: var(--brand-secondary);
  font-size: 20px;
  color: var(--bg_default);
  gap: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border: 0px;
}
.fav-icon {
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  padding-top: 10px;
  font-size: 30px;
}
.hidden {
  display: none !important;
}
.favourite-box {
  height: 230px;
  width: 100vw;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: var(--bg_default);
  padding: 10px 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.dark-mode .favourite-box {
  background-color: var(--dark-bg_default);
}
.favourite-box-title {
  margin: 0px 0px 10px 0px;
}
.dark-mode .favourite-box-title {
  color: var(--dark-body-text);
}
.fav-card-container {
  display: flex;
  gap: 20px;
}
.fav-card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
}
.fav-img-banner {
  width: 150px;
  height: 75px;
  margin-bottom: 10px;
}
.fav-card-info {
  height: 30px;
  padding: 0px 10px;
}
.fav-card-info h5 {
  margin: 0px;
}
.dark-mode .fav-card-info h5 {
  color: var(--dark-body-text);
}
.fav-stars-box {
  height: 35px;
  padding: 0px 10px;
}
.fav-stars-box i {
  font-size: 16px;
  color: #e5a906;
}
.fav-img-banner img {
  width: 100%;
  height: 100%;
}

.footer i {
  color: var(--heart-color);
}
.footer {
  font-size: 17px;
  text-align: center;
  bottom: 7%;
  width: 100%;
  position: absolute;
  text-align: center;
  justify-content: center;
}
.dark-mode .footer {
  color: var(--dark-body-text);
}

@media screen and (min-width: 1293px) {
  .details-background-container {
    height: 300px;
  }
}
