* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
}
.dark-mode body {
  margin: 0;
  background-color: var(--dark-bg_body);
}
.dark-mode header {
  background-color: var(--dark-bg_default);
}
:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;

  /* dark mode colors */
  --dark-brand-primary: #0768ac;
  --dark-brand-secondary: #03c180;
  --dark-bg_default: #1a1a1a;
  --dark-bg_body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #ededed;
  --dark-heart-color: #dc143c;
}

.header-box {
  background-color: var(--bg_default);
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 100%;
}
.dark-mode .header-box {
  background-color: var(--dark-bg_default);
}

.btns {
  display: flex;
  align-items: center;
  gap: 4px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_default);
  border-radius: 5px;
  border: 1px solid var(--lines-color);
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  gap: 4px;
  height: 35px;
}

.dark-mode .button {
  background-color: var(--dark-bg_default);
  border: 1px solid var(--dark-lines-color);
  color: var(--bg_default);
}

.title {
  color: var(--brand-primary);
  font-size: 1rem;
  font-weight: 400;
}
.dark-mode .title {
  color: var(--dark-brand-primary);
}

.welcome-message-container h2 {
  color: var(--brand-secondary);
  text-align: center;
  font-weight: 700;
  margin: 0;
  font-size: 19px;
}
.dark-mode .welcome-message-container h2 {
  color: var(--dark-brand-secondary);
}
.welcome-message-container p {
  text-align: center;
  font-weight: 200;
  margin: 0;
  font-size: 16px;
}
.welcome-message-container {
  position: relative;
  width: 100%;
  background-color: var(--bg_default);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 0;
  margin-bottom: 50px;
}
.welcome-background-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--brand-secondary);
  z-index: 1;
  clip-path: polygon(100% 0, 22% 0%, 100% 47%);
}
.welcome-background-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  z-index: 2;
  clip-path: polygon(0 47%, 93% 0, 0 0);
}

.dark-mode .welcome-message-container {
  background-color: var(--dark-bg_default);
  color: var(--dark-body-text);
}
.welcome-message-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.search-box {
  background-color: var(--bg_default);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  height: 45px;
  overflow: hidden;
}
.dark-mode .search-box {
  background-color: var(--dark-bg_default);
  border: 0.2px solid var(--dark-lines-color);
  color: var(--dark-body-text);
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px;
}
.search-icon {
  padding-top: 5px;
  margin-left: 15px;
}
.search-bar input {
  display: flex;
  align-items: center;
  border: 0px solid var(--lines-color);
  width: 100%;
  border-radius: 10px;
  margin-left: 10px;
  height: 100%;
}
.dark-mode .search-bar input {
  border: 0px solid var(--dark-lines-color);
  background-color: var(--dark-bg_default);
  color: var(--dark-body-text);
}

.search-box input:focus {
  border: 0;
  outline: none;
}

.dropdown-container {
  width: 11.5%;
  border: 0;
  border: 1px solid var(--lines-color);
}
.dark-mode .dropdown-container {
  border: 1px solid var(--dark-lines-color);
}
.dropdown {
  border-radius: 10px;
  border-left: 0px solid var(--lines-color);
}
.dark-mode .dropdown {
  border-left: 0px solid var(--dark-lines-color);
  background-color: var(--dark-bg_default);
  color: var(--dark-body-text);
}

.content-container {
  background-color: var(--bg_body);
  padding: 20px 3% 0px 3%;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.dark-mode .content-container {
  background-color: var(--dark-bg_body);
}
.search-result {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  display: flex;
}
.dark-mode .search-result {
  color: var(--dark-body-text);
}

.cards-container {
  margin-top: 16px;
  background-color: var(--bg_body);
  display: grid;

  grid-auto-rows: 325px;
  height: 100%;
  width: 100%;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.dark-mode .cards-container {
  background-color: var(--dark-bg_body);
}

.card-container {
  display: flex;
  background-color: var(--bg_default);
  align-items: flex-start;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 7px 7px 7px 7px;
  width: 242px;
  cursor: pointer;
}
.dark-mode .card-container {
  background-color: var(--dark-bg_default);
  border: 1px solid var(--dark-lines-color);
}
.card-info {
  height: 100px;
  width: 100%;
  color: var(--body-text);
  padding: 0px 15px 0px 15px;
}
.card-info h5 {
  margin: 0px;
}
.dark-mode .card-info {
  color: var(--dark-body-text);
}
.card-info p {
  font-size: 0.8rem;
  font-weight: 400;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--body-text);
  white-space: nowrap;
}

.dark-mode .card-info p {
  color: var(--dark-body-text);
}
.author-box {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px 15px;
  color: gray;
}
.dark-mode .author-box {
  color: var(--dark-body-text);
}

h2 {
  margin: 0px;
}
.stars-box {
  width: 100%;
  display: flex;
  padding: 0px 15px;
  margin: 0px;
}
.star-icon {
  color: #e5a906;
}

.img-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  border-radius: 7px 7px 0px 0px;
}
.dark-mode .img-banner {
  background-color: var(--bg_default);
}
.img-banner img {
  width: 100%;
  height: 100%;
  border-radius: 7px 7px 0px 0px;
  object-fit: cover;
}
.footer {
  width: 100%;
  background-color: var(--bg_body);
  position: absolute;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.dark-mode .footer {
  background-color: var(--dark-bg_body);
  color: var(--dark-body-text);
}
.footer i {
  color: var(--dark-heart-color);
}
.hidden {
  display: none !important;
}
.favourite-box {
  height: 230px;
  width: 100vw;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: var(--bg_default);
  padding: 10px 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.dark-mode .favourite-box {
  background-color: var(--dark-bg_default);
}
.favourite-box-title {
  margin: 0px 0px 10px 0px;
}
.dark-mode .favourite-box-title {
  color: var(--dark-body-text);
}
.fav-card-container {
  display: flex;
  gap: 20px;
}
.fav-card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
}
.fav-img-banner {
  width: 150px;
  height: 75px;
  margin-bottom: 10px;
}
.fav-card-info {
  height: 30px;
  padding: 0px 10px;
}
.fav-card-info h5 {
  margin: 0px;
}
.dark-mode .fav-card-info h5 {
  color: var(--dark-body-text);
}
.fav-stars-box {
  height: 35px;
  padding: 0px 10px;
}
.fav-stars-box i {
  font-size: 16px;
  color: #e5a906;
}
.fav-img-banner img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 20px) {
  .header-box {
    width: 90%;
    margin: auto;
    padding: 10px 0px 0px 0px;
    margin-bottom: 15px;
  }

  .welcome-message-container {
    margin: auto;
    padding-bottom: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .welcome-background-2 {
    height: 50%;
  }
  .welcome-background-1 {
    height: 50%;
  }
  .welcome-message-headers {
    padding: 7% 0% 0% 6%;
  }
  .welcome-message-container p {
    width: 100%;
    text-align: start;
  }

  .cards-container {
    grid-template-columns: 100%;
    margin: auto;
  }
  .card-container {
    width: 95%;
  }
  .search-result {
    width: 95%;
    margin: auto;
  }

  .search-box {
    width: 95%;
    height: 90px;
    margin: auto;
    flex-direction: column;
  }
  .star-icon {
    margin: auto;
  }
  .search-bar {
    justify-content: flex-start;
    height: 100%;
  }
  .dropdown-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 0;
    border-top: 1px solid var(--lines-color);
  }

  .dropdown:focus {
    outline: none;
  }
  .dropdown {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0% 3%;
  }
  .filter-dropdown {
    border-left: 1px solid var(--lines-color);
    border-radius: 0px 0px 10px 0px;
  }
  .dark-mode .filter-dropdown {
    border-left: 1px solid var(--dark-lines-color);
  }
  .button {
    font-size: 0px;
  }
  .button i {
    font-size: 15px;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
  }

  .author-box {
    font-size: 12px;
    font-weight: 400;
  }
  .img-banner {
    height: 150px;
  }
  .img-banner img {
    height: 150px;
  }
}

@media screen and (min-width: 391px) {
  .header-box {
    padding-top: 15px;
  }
  .welcome-message-headers {
    padding: 8% 0% 0% 6%;
  }
  .welcome-background-2 {
    height: 60%;
  }
  .welcome-background-1 {
    height: 60%;
  }
  .content-container {
    padding: 0;
    padding-top: 16px;
  }

  .card-container {
    width: 350px;
  }
  .search-result {
    width: 90%;
  }
  .search-box {
    width: 90%;
  }
  .card-info p {
    width: 350px;
  }
}

@media screen and (min-width: 600px) {
  .welcome-message-container {
    padding-bottom: 25px;
    align-items: center;
  }
  .welcome-message-headers {
    padding: 6% 0% 0% 6%;
  }
  .welcome-background-2 {
    height: 80%;
  }
  .welcome-background-1 {
    height: 80%;
  }
  .cards-container {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .card-container {
    width: 100%;
  }
  .card-info p {
    width: 137px;
  }
  .search-box {
    flex-direction: row;
    height: 45px;
  }
  .dropdown-container {
    border: 0px;
    width: 45%;
  }

  .filter-dropdown {
    border-radius: 0px 10px 10px 0px;
  }
  .sort-dropdown {
    border-left: 1px solid var(--lines-color);
    border-radius: 0px;
  }
  .button {
    font-size: 14px;
  }
}

@media screen and (min-width: 900px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
  .card-info p {
    width: 229px;
  }
  .welcome-message-headers {
    padding: 6% 0% 0% 6%;
  }
  .welcome-message-headers h2 {
    font-size: 25px;
  }
  .welcome-message-headers p {
    font-size: 20px;
  }
  .welcome-background-2 {
    height: 100%;
  }
  .welcome-background-1 {
    height: 100%;
  }
}

@media screen and (min-width: 1080px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .card-info p {
    width: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .cards-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .card-info p {
    width: 216px;
  }
  .title {
    font-size: 20px;
  }
  .button {
    font-size: 16px;
  }
  .welcome-message-container {
    padding-top: 70px;
    height: 160px;
  }
  .welcome-message-headers {
    padding: 0%;
  }
  .welcome-message-headers h2 {
    font-size: 30px;
  }
  .welcome-message-headers p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1650px) {
  .cards-container {
    grid-template-columns: repeat(6, 1fr);
  }
  .card-info p {
    width: 204px;
  }
  .search-box {
    height: 60px;
  }
}
