.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_default);
  border-radius: 5px;
  border: 1px solid var(--lines-color);

  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  gap: 4px;
  height: 30px;
  padding: 7px;
}
@media screen and (min-width: 27px) {
  .button {
    font-size: 0px;
  }
  .button i {
    font-size: 14px;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
  }
}
@media screen and (min-width: 600px) {
  .button {
    font-size: 14px;
    width: 105px;
  }
}
